*{
    /* margin-left: 5px;  */
    /* margin-right: 5px;  */
    /* height: fit-content;      */
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header :nth-child(3){
    margin-left: 40%;
}
body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    /* background-color:white; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed;  */
}


.userDescription{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.nav-bar{ font-size: 12px; height: 30px; color: white;}
.name{ 
    font-size: 20px; 
    margin-left: 80px;
    padding: 10px;
}
.user-form{
    background-color: #AC4425;
    padding: 35px;
    width: 30%;
    font-family: Helvetica;
    border-radius: 20px;
}
.user-form p input{
    border-color: #f4f4f4;
    width: 50%;
    padding: 10px;
    font-size: 16px;
}
.user-form p label{color: #ffffff;font-size: 24px;}
.input[type=submit]{
    background-color: #A5C9CA;
    padding: 15px 32px;
    border-style: none;
    cursor: pointer;
}
.mentor{ 
    width: 300px; 
    height: 300px;
}

#why-mentorship{
    display: flex;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.plan-future{
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 30%;
    border-radius: 10px;
    background-color:grey;
    color: white;
    font-size: 15px;
    justify-content: center;
}
.challenged{
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 30%;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-size: 15px;
    justify-content: center;
}
.perspectives{
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 30%;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-size: 15px;
    justify-content: center;
}

.welcome{
    color: black;
    padding: 20px;
    font-family: 'Times New Roman';
}
#welcomeNote{
    display: flex;
    justify-content: space-between;
    background-color: #e4e8ea;
}
.ment{
    color: black;
    padding: 20px;
}
#ment{
    justify-content: space-between;
}


.mentor-title{
    background-color: #e31919;
    padding: 10px;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    align-content: center;
    font-weight: bold;
    width: 100%;
    top: 0;
    position: fixed;
    margin: 0;
    padding: 10px;
}
.mentor-title :nth-child(2){
    margin-left: 40%;
}
.mentor-bar{
    font-size: 20px; 
    margin-left: 80px;
    padding: 10px;
} 
.about-title{
    background-color: rgb(219, 53, 58);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    align-content: center;
    font-weight: bold;
    width: 100%;
    top: 0;
    position: fixed;
    margin:0;
    padding: 8px;
}
.about-title :nth-child(2){
    margin-left: 55%;
}
.about-bar{
    font-size: 20px; 
    margin-left: 80px;
    padding: 10px;
} 

/* @media screen and (min-width: 1024px){
    body{
        background-color: #ccc;
    }
} */
/* @media screen and (min-width: 1280px){
    body{
        background-color: rgb(211, 206, 206);
    }
} */

.content-wrapper{
    width: 1024px; max-width: 1600px; margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.page-header{
    padding-top: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  

  

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }